{% extends 'ex/base.html' %}

{% block title %}
<title>Article Detail</title>
{% endblock %}

{% block content %}
<h1>{{ object.title }}</h1>
<p>Create by : {{ object.author }} - {{ object.created }}</p>
<h2>{{ object.synopsis }}</h2>
<p>{{ object.content }}</p>
{% if request.user.username %}
<form action={% url 'Add to favourite' %} method="POST">
	{% csrf_token %}
	<input type="hidden" name="article" value={{ object.id }}>
	<input type="hidden" name="user" value={{ request.user.id }}>
	<input type="submit" value="Add to favourite">
</form>
{% endif %}
{% endblock %}